<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Pishop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping-cart">shopping-cart</a>
        </li>
        <ng-template #anonymouse>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="login">login</a>
          </li>
        </ng-template>

        <li class="nav-item dropdown" *ngIf="auth.user$| async as user ;else anonymouse">
          <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.displayName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="my-orders">My Orders</a>
            <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="admin/products">Manage products</a>
            <a class="dropdown-item" id="logout_btn" (click)="logout()">Logout</a>

          </div>
        </li>
      </ul>

    </div>
  </nav>